<% provide(:title, 'Home') %>

  <div style="position:relative;">
    <%= image_tag("airview.jpg", :class => "welcome_image") %>
    <div id="welcome">
      <h1>Welcome to BranPlan</h1>
      <p>Academic tracking app for Brandeis University undergraduates</p>
      <%= link_to "Log In", login_path, class: "btn btn-lg btn-info" %>
    </div>
  </div>
  <div id="about-us">
    <div class="container">
      <br>
      <h1 class="center">About Us</h1>
      <br>
      <p>At BranPlan, we aim to provide members of the Brandeis undergraduate community an all in one platform for academic planning and progress tracking.
        Upon signup and profile completion, users will be able to monitor their progress every semester.</p>
    </div>
    <br><br>
  </div>
  <div id="home-features">
    <div class="container">
      <br>
      <h1 class="center">Why BranPlan?</h1>
      <br><br>
      <div class="card-deck">
        <div class="card">
          <%= image_tag("schedule-stock.jpg", :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Scheduling</h5>
            <p class="card-text">Create and customize your current semester schedule by selecting courses in our database. You can integrate your schedule directly into your Google Calendar.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("search-stock.jpg", :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Search</h5>
            <p class="card-text">Browse courses in the Brandeis catalog with our optimized search engine. Discover new courses that you may have never been considered with our personalized suggestion algorithm.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("progress-stock.png", :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Progress</h5>
            <p class="card-text">Keep track of your academic progress with visualized percentage bars for credit and degree status toward graduation.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <div id="contact-us">
    <div class="container">
      <br>
      <h1 class="center">Contact Us</h1>
      <br>
      <p>We try our best to provide a service that is reliable, efficient, and easy to use. If you have any issues with our services, or have any suggestions on how to make us a better platform, please submit your comments
        <%= link_to "here", '#'%>. We will try our best to assess your critique and continually improve our service.</p>
    </div>
  </div>
