<% provide(:title, "Search") %>

<div class="search-page">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
  <% end %>
  <div class="row">
    <div class="col-4">
      <div id="filters" class="jumbotron">
        <%= form_tag(search_path, method: :get, :id => "search", remote: true) do %>
          <%= text_field_tag :query, params[:name], placeholder: "Name", :class => "search-inputs" %>
          <%= text_field_tag :code, params[:code], placeholder: "Code", :class => "search-inputs" %>
          <%= text_field_tag :professor, params[:professor], placeholder: "Professor", :class => "search-inputs" %>
          <%= text_field_tag :description, params[:description], placeholder: "Description", :class => "search-inputs" %>
          <%= select_tag :subject, options_for_select(@subjects.collect { |subject|
              subject.name}), :include_blank => "Any", class: 'search-inputs' %>
          <%= select_tag :term, options_for_select(@terms.collect { |term|
              term.name}, "Fall 2018"), class: 'search-inputs' %>
          <%= submit_tag "Search", :id => 'search-button', :class => 'btn btn-info', :style => "display: none;" %>
        <% end %>
        <div class="center">
          <%= submit_tag "Suggest", :id => 'suggest-button', :class => "search-inputs btn btn-warning" %>
        </div>
    </div>
  </div>
  <div class="col-8">
    <div id="search_results" class="jumbotron"><%= render 'search_results' %></div>
  </div>
</div>
</div>

<script>
$(document).on('turbolinks:load', () => {
  // Search form
  $('#query').on('input', function() {
    if (this.value.length >= 0) Rails.fire($('#search')[0], 'submit')
  })

  $('#code').on('input', function() {
    if (this.value.length >= 0) Rails.fire($('#search')[0], 'submit')
  })

  $('#description').on('input', function() {
    if (this.value.length >= 0) Rails.fire($('#search')[0], 'submit')
  })

  $('#term').on('change', () => Rails.fire($('#search')[0], 'submit'))
})
</script>
