<% provide(:title, "Contact") %>

  <div id="contact-us">
    <div class="container">
      <br>
      <div id="contact-jumbo" class="jumbotron">
        <h1 style="margin-top: -10px;" class="center">Contact Us</h1>
        <br>
        <p>We try our best to provide an application that is reliable, efficient,
          and easy to use. If you experience any issues with our service, or have
          any suggestions on how to make our platform better, please submit your
          comments by completing the form below. We will try our best to assess
          your critique and continually improve our service. Thank you!</p>
        <p style="padding-left:5em">- BranPlan Developement Team</p>
        <br><br>
        <div id="feedback-form" class="jumbotron">
          <h5>Feedback Form</h5>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
          <% end %>
          <%= render 'shared/message_errors' %>
          <hr>
          <br>
          <%= form_for @message, url: contact_path do |f| %>
          <%= f.text_field :name, placeholder: 'Name', class: "search-inputs" %>
          <%= f.email_field :email, placeholder: 'Email', class: "search-inputs" %>
          <%= f.text_area :body, placeholder: 'Message', class: "search-inputs", rows: "5" %>
          <div class="center">
            <%= f.submit 'Send', id: "send-button", class: "btn btn-success"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
