<%= form_with(model: course_subject, local: true) do |form| %>
  <% if course_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_subject.errors.count, "error") %> prohibited this course_subject from being saved:</h2>

      <ul>
      <% course_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_code %>
    <%= form.text_field :course_code %>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.text_field :subject_id %>
  </div>

  <div class="field">
    <%= form.label :segment_id %>
    <%= form.number_field :segment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
