<% provide(:title, current_user.name.split(" ")[0].to_s+"'s Dashboard") %>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
    <% end %>
    <h1 class="center"><%= current_user.name.split(" ")[0] %>'s Dashboard</h1>
    <br>
    <div class="row">
      <div class="jumbotron col-md-7 grow dash-panels">

        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#home">Calendar</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu1">Fall 2018</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu2">Spring 2019</a>
          </li>
        </ul>
        <br>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="calendar" style="height:370px;width:auto;font-size:16px/26px;overflow:auto;"></div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_fall_2018' %>
          </div>
          <div id="menu2" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_spring_2019' %>
          </div>
        </div>

      </div>
      <div class="jumbotron col-md-4 ml-auto grow dash-panels">
            <p class="bar-type"><strong>University Credits (<%= @credits %>
              / 128)</strong></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @credits_percent %>%" aria-valuenow="<%= @credits_percent %>" aria-valuemin="0" aria-valuemax="100"><%= @credits_percent %>%</div>
            </div>

            <p class="bar-type" style="padding-top:10px;"><strong>Graduation Requirements</strong></p>

            <!-- Button trigger modal -->
<<<<<<< HEAD
            <button id="req-info" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">i</button>
          </div>
=======
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
>>>>>>> 3ba22ca26e7e9f5cc75234bea1a4c1a5aaee3c35

            <%= render 'users/dashboard/dashboard_uni_reqs' %>

            <%= render 'users/dashboard/dashboard_degrees' %>
      </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
