<% provide(:title, current_user.name.split(" ")[0].to_s+"'s Dashboard") %>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
    <% end %>
    <h1 class="center"><%= current_user.name.split(" ")[0] %>'s Dashboard</h1>
    <br>
    <div class="row">
      <div class="jumbotron col-md-7 grow dash-panels">

        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#home">Calendar</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu1">Fall 2018</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu2">Spring 2019</a>
          </li>
        </ul>
        <br>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="calendar" style="height:370px;width:auto;font-size:16px/26px;overflow:auto;"></div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_fall_2018' %>
          </div>
          <div id="menu2" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_spring_2019' %>
          </div>
        </div>

      </div>
      <div class="jumbotron col-md-4 ml-auto grow dash-panels">
        <h3 class="center">Progress<h3>
            <p class="bar-type">Credits (<%= @credits %>
              / 128)</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= @credits_percent %>%" aria-valuenow="<%= @credits_percent %>" aria-valuemin="0" aria-valuemax="100"><%= @credits_percent %>%</div>
            </div>
          </div>

          <script>
            <%# $('#calendar').fullCalendar({}); %>

            var initialize_calendar;
            <%# $(document).ready(function() {
              initialize_calendar = function() {
                $('#calendar').each(function(){
                  var calendar = $(this);
                })
              };
            }); %>
            <%# $(document).on('turbolinks:load', function() {
              <%# initialize_calendar = function() { %>
                <%# $('#calendar').each(function(){
                  var calendar = $(this);
                  calendar.fullCalendar({});
                }) %>
              <%# };
              initialize_calendar(); %>
            <%# }); %>
            $(document).ready( function() {
              $('#calendar').each(function(){
                var calendar = $(this);
                calendar.fullCalendar({
                  header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                  },
                  selectable: true,
                  selectHelper: true,
                  editable: true,
                  eventLimit: true,
                  events: '/events.json',

                  select: function(start, end) {
                    $.getScript('/events/new', function() {
                      $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"))
                      date_range_picker();
                      $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
                      $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
                    });

                    calendar.fullCalendar('unselect');
                  },

                  eventDrop: function(event, delta, revertFunc) {
                    event_data = {
                      event: {
                        id: event.id,
                        start: event.start.format(),
                        end: event.end.format()
                      }
                    };
                    $.ajax({
                        url: event.update_url,
                        data: event_data,
                        type: 'PATCH'
                    });
                  },

                  eventClick: function(event, jsEvent, view) {
                    $.getScript(event.edit_url, function() {
                      $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"))
                      date_range_picker();
                      $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
                      $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
                    });
                  }
                });
              })
            })
            <%# $(document).on('turbolinks:load', initialize_calendar); %>


          </script>
