<% provide(:title, current_user.name.split(" ")[0].to_s+"'s Dashboard") %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
<% end %>
  <div class="jumbotron dash-page">
    <div class="container">
    <h1 class="center"><%= current_user.name.split(" ")[0] %>'s Dashboard</h1>
    <br>
    <div class="row">
      <div class="jumbotron col-md-7 grow dash-panels">

        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#home">Calendar</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu1">Fall 2018</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu2">Spring 2019</a>
          </li>
        </ul>
        <br>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="calendar" style="height:370px;width:auto;font-size:16px/26px;overflow:auto;"></div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_fall_2018' %>
          </div>
          <div id="menu2" class="tab-pane fade">
            <%= render 'users/dashboard/dashboard_spring_2019' %>
          </div>
        </div>

      </div>
      <div class="jumbotron col-md-4 ml-auto grow dash-panels">
            <p class="bar-type"><strong>University Credits (<%= @credits %>
              / 128)</strong></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @credits_percent %>%" aria-valuenow="<%= @credits_percent %>" aria-valuemin="0" aria-valuemax="100"><%= @credits_percent %>%</div>
            </div>
            <div class="row">
            <p class="bar-type" style="padding-top:10px;margin-left:15px;"><strong>Graduation Requirements
              <!-- Button trigger modal -->
            <button id="req-info" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              i
            </button></strong></p>
          </div>

            <%= render 'users/dashboard/dashboard_uni_reqs' %>

            <%= render 'users/dashboard/dashboard_degrees' %>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel"><strong>Graduation Requirements Information</strong></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Must complete 1 of each of the following requirements:<br><br>
              &emsp;<strong>UWS</strong> (University Writing Seminar)<br>
              &emsp;<strong>SN</strong> (School of Science)<br>
              &emsp;<strong>HU</strong> (School of Humanitites)<br>
              &emsp;<strong>SS</strong> (School of Social Science)<br>
              &emsp;<strong>CA</strong> (School of Creative Arts)<br>
              &emsp;<strong>QR</strong> (Quantitative Reasoning)<br>
              &emsp;<strong>NW</strong> (Non-Western and Comparative Studies)<br><br>
              Must complete one of the following combinations:<br><br>
              &emsp;2 <strong>WI</strong> (Writing Intensive) or 1 <strong>WI</strong> and 1 <strong>OC</strong> (Oral Communication)<br>
              &emsp;2 <strong>PE</strong> (Physical Education) or test out of requirement.<br>
              &emsp;1 <strong>FL</strong> (Foreign Language) or test out of requirement.<br><br>
              If you have tested out of PE and or FL requirements, please specificy that you have in your academic information (Account > Academic Info > Course History).
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
