<% provide(:title, current_user.name.split(" ")[0].to_s+"'s Dashboard") %>

<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
  <% end %>
  <h1 class="center"><%= current_user.name.split(" ")[0] %>'s Dashboard</h1>
  <br>
  <div class="row">
    <div class="jumbotron col-md-7 grow top">
      <h3>Schedule</h3>
      <div style="height:80%; id="calendar"></div>
    </div>
    <div class="jumbotron col-md-4 ml-auto grow top">
      <h3 class="center">Progress<h3>
          <p class="bar-type">Credits  (<%= @credits %> / 128)</p>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @credits_percent %>%" aria-valuenow="<%= @credits_percent %>" aria-valuemin="0" aria-valuemax="100"><%= @credits_percent %>%</div>
          </div>
        </div>

<script>
  $('#calendar').fullCalendar({});
</script>
