<% provide(:title, "Academic Info") %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
<% end %>
<h1 class="center">Academic Information</h1>
<br>
<div class="row">
  <div id="edit_info" class="col-md-6 col-md-offset-3">
    <%= form_for @user, :html => {:id => "credits-form"}, remote: true do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :credits, "University Credits", :style => "padding-bottom: 10px;" %>
      <%= f.number_field :credits, class: 'search-inputs' %>
      <%= f.submit "Submit", :style => "display:none;" %>
    <% end %>
    <label style="padding-bottom: 10px;">Degrees</label>
      <%= render 'users/edit/degree_multiselect' %>
    <br>
    <label>Course History</label>

      <p style="padding-right:1em;padding-left:2em;">Indicate if you have tested out of the following graduation requirements:</p>
      <div class="row">
        <p style="padding-right:1em;padding-left:5em;">PE (Physical Education)</p>
        <select id="pe-req-drop">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div class="row">
        <p style="padding-right:1.5em;padding-left:5em;">FL (Foreign Language)</p>
        <select id="fl-req-drop">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>

    <div id="course_codes"><%= render 'users/edit/course_code_search' %></div>

  </div>
</div>

<script>
$(function() {
  $("#credits-form").keyup(function() {
    $.post(this.action, $(this).serialize(), null, "script");
  });
  $("#history").keyup(function() {
    $.get(this.action, $(this).serialize(), null, "script");
  });

  $('#pe-req-drop').change(function(){
    $.ajax({
      type:'GET',
      url: "/users/pe_req_check",
      data: {'pe_val' : $('#pe-req-drop').val() }
    });
  });

  $('#fl-req-drop').change(function(){
    $.ajax({
      type:'GET',
      url: "/users/fl_req_check",
      data: {'fl_val' : $('#fl-req-drop').val() }
    });
  });

  <% if current_user.pe_complete == "No" || current_user.pe_complete == nil %>
    document.getElementById("pe-req-drop").selectedIndex = 0;
  <% else %>
    document.getElementById("pe-req-drop").selectedIndex = 1;
  <% end %>

  <% if current_user.fl_complete == "No" || current_user.fl_complete == nil %>
    document.getElementById("fl-req-drop").selectedIndex = 0;
  <% else %>
    document.getElementById("fl-req-drop").selectedIndex = 1;
  <% end %>
});


</script>
