<%= simple_form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :code %>

  </div>
  <div class="form-group">
    <%= f.input :start, wrapper: :horizontal_select_date, class: 'form-control input-sm start_hidden' %>
    <%= f.input :end, wrapper: :horizontal_select_date, class: 'form-control input-sm end_hidden' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                style: 'background-color: red !important;',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
