<%= simple_form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :code %>


    <%= f.input_field :start, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, value: Date.today, class: 'form-control input-sm end_hidden' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
