<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course.course_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @course.comment %>
</p>

<p>
  <strong>Term:</strong>
  <%= @course.term %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Continuity:</strong>
  <%= @course.continuity_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Independent study:</strong>
  <%= @course.independent_study %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
