<body id="course_show">
<% provide(:title, @course.code) %>

  <div id="course-page" class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} container") %>
    <% end %>
    <nav aria-label="breadcrumb" style="margin-top:10px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Brandeis University</li>
        <li class="breadcrumb-item active"><%= Term.find_by(term_id: @course.term).name %></li>
        <li class="breadcrumb-item active" style="color:#595959 !important;" aria-current="page"><%= @course.name %>
          (<%= @course.code %>)</li>
      </ol>
    </nav>
    <div class="row">
    <h1><%= @course.name %> • <%= @course.code %></h1> <h3><%= @course_uni_reqs %></h3>
    </div>
    <br>
    <p style="margin-bottom: -10px;">
      <%= @course.description %>
    </p>
    <%# If Fall 2018 or Spring 2019 course, able to enroll %>
      <% if @term.id == 4 or @term.id == 5 %>
        <br>
        <p>
          <% @sections.order(:section).each do |section| %>
            <% @section_times = SectionTime.where(section_id: section.section_id) %>
              <hr>
              <div class="row">
              <p id="section-info">
                Section
                <%= section.section %></p>
                <% if Enrollment.where(user_id: current_user.id, course_id: @course.id, section_id: section.id, term_id: @term.id).length == 0 %>
                  <td>
                    <button class="enroll enroll-button btn btn-success" data-course_id = <%= @course.id %> data-section_id = <%= section.id %> data-term_id = <%= @term.id %> data-section_id_str = <%= section.section_id %>>Add</button>
                  </td>
                <% else %>
                  <td>
                    <button class="unenroll enroll-button btn btn-danger"  data-course_id = <%= @course.id %> data-section_id = <%= section.id %> data-term_id = <%= @term.id %> data-section_id_str = <%= section.section_id %>>Remove</button>
                  </td>
                <% end %>
              </div>
              <div style="margin-left: 10px;">
                <p>
                  <strong style="padding-right: 5px;">Instructor(s):</strong>
                  <%= @professors[section.section] %>
                  <br>
                  <% if !SectionTime.find_by(section_id: section.section_id).nil? %>
                    <strong style="padding-right: 5px;">Day(s):</strong>
                    <%= @days[section.section] %>
                    <br>
                    <strong style="padding-right: 5px;">Time:</strong>
                    <%= @times[section.section][0] %>
                    -
                    <%= @times[section.section][1] %>
                    <% @section_times.each do |s| %>
                      <% if s.section_type == "Recitation" %>
                        <p>
                          <strong style="padding-right:5px;">Recitation:</strong>
                          <br>
                          <strong style="margin-left:14px;padding-right:5px;">Day:</strong>
                          <%= days_list_convert(SectionTime.find_by(section_id: section.section_id, section_type: "Recitation").days) %>
                          <br>
                          <strong style="margin-left:14px;padding-right:5px;">Time:</strong>
                          <%= convert_time(SectionTime.find_by(section_id: section.section_id, section_type: "Recitation").start) %>
                          -
                          <%= convert_time(SectionTime.find_by(section_id: section.section_id, section_type: ["Recitation"]).end) %>
                          <% elsif s.section_type == "Lab" %>
                            <p>
                              <strong style="padding-right:7px;">Lab:</strong>
                              <br>
                              <strong style="margin-left:14px;padding-right:5px;">Day:</strong>
                              <%= days_list_convert(SectionTime.find_by(section_id: section.section_id, section_type: "Lab").days) %>
                              <br>
                              <strong style="margin-left:14px;padding-right:5px;">Time:</strong>
                              <%= convert_time(SectionTime.find_by(section_id: section.section_id, section_type: "Lab").start) %>
                              -
                              <%= convert_time(SectionTime.find_by(section_id: section.section_id, section_type: ["Lab"]).end) %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                  <% end %>
                </p>
              <% else %>

              <% end %>
            </div>

            <script>
            $('.enroll').on("click", function(){
              $.ajax({
                type:'POST',
                url: "/enrollments/enroll",
                data: {'course_id' : this.dataset.course_id, 'section_id' : this.dataset.section_id, 'term_id' : this.dataset.term_id, 'section_id_str' : this.dataset.section_id_str}
              });
                }).trigger('change');

            $('#.unenroll').on("click", function(){
                $.ajax({
                  type:'POST',
                  url: "/enrollments/unenroll",
                  data: {'course_id' : this.dataset.course_id, 'section_id' : this.dataset.section_id, 'term_id' : this.dataset.term_id, 'section_id_str' : this.dataset.section_id_str}
                });
                  }).trigger('change');
            </script>
</body>
