<%= form_with(model: section_instructor, local: true) do |form| %>
  <% if section_instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section_instructor.errors.count, "error") %> prohibited this section_instructor from being saved:</h2>

      <ul>
      <% section_instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.text_field :section_id %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.text_field :instructor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
