<p id="notice"><%= notice %></p>

<h1>Section Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_instructors.each do |section_instructor| %>
      <tr>
        <td><%= section_instructor.section_id %></td>
        <td><%= section_instructor.instructor_id %></td>
        <td><%= link_to 'Show', section_instructor %></td>
        <td><%= link_to 'Edit', edit_section_instructor_path(section_instructor) %></td>
        <td><%= link_to 'Destroy', section_instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section Instructor', new_section_instructor_path %>
