<header>
  <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
    <div class="container">
      <%= link_to image_tag("Logo1.png", id: 'logo'), root_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="nav-button"><%= link_to "Dashboard", dashboard_path %></li>
            <li class="nav-button"><%= link_to "Search", search_path %></li>
            <li class="nav-button"><%= link_to "Contact", contact_path, id: "contact" %></li>
            <li class="nav-button dropdown">
              <%= link_to "Account", '#', 'data-toggle' => 'dropdown' %>
              <ul class="dropdown-menu">
                <!-- <li><%= link_to "Profile", current_user %></li> -->
                <li><%= link_to "Academic Info", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Out", signout_path, id: "sign_out" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-button"><%= link_to "Contact", contact_path, id: "contact" %></li>
            <li class="nav-button"><%= link_to "Sign In", "/auth/google", id: "sign_in" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
